
body {
	font-family: 'Oswald', sans-serif;
}

h1 {
	color: purple;
}


.page {
	width: 600px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
}

.question {
	min-height: 100px;
	font-size: 24px;
	margin-bottom: 40px;
}


.container {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.answers {
	min-height: 100px;
	padding-left: 45px;
}

#endQuiz {
	display: none;
}

.option {
	float: left;
	margin-right: 20px;
}

.optionText {
	text-align: left;
}

.optionContainer {
	width: 45%;
    display: inline-block;
}

.progress{
    background-color: white;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 8px;
    border: 2px solid black;
}

.current {
    background-color: gray;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 8px;
    border: 2px solid black;
}


.seen {
	background-color: purple;
}

#retakeButton {
	display: none;
}